@font-face {
    font-family: 'Avenir LT Pro';
    src: url('fonts/AvenirLTPro-Medium.woff2') format('woff2'),
        url('fonts/AvenirLTPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Avenir LT Pro', Helvetica, Arial, sans-serif;
    margin: 0px;
    overflow-x: hidden;
}

.text-sm {
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
}

.text-md {
    font-size: 14px;
}

.text-lg {
    font-size: 16px;
}

hr {
    color: #D9D9D9;
}

.container {
    display:grid;
    grid-template-areas: 
        "main main sidesummary"
        "main main sidesummary"
        "main main sidediscount"
        "main main sidereviews"
        "main main sidereviews"
        "payment payment sidereviews";
}

.main-container {
    grid-area: main;
    background: #fff;
    padding: 16px;
}

.payment-container {
    grid-area: payment;
    background: #fff;
}

#checkoutForm {
    min-width: 591px;
    margin: 50px 112px
}

.logo {
    justify-self: center;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 36px;
}

.logo-img {
    width: 215px;
}

.exp {
    border:1px solid #cfcfcf;
    border-radius:12px;
    padding:0 51px;
    position:relative;
    background:#fff;
}

.exp-title {
    width: 160px;
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #fff;
    padding: 10px;
    z-index: 2;
}

.exp-title span{
    font-size: 13px;
    background:#fff;
    padding:0 14px;
    position:relative;
}

.exp-checkout {
    display:flex;
    justify-content:center;
    gap:20px;
    margin:15px 25px;
}

.divider {
    width: 48px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #fff;
    padding: 5px 0px;
    z-index: 2;
}

.divider span {
    font-size: 14px;
    background:#fff;
    padding:0 12px;
    position:relative;
}

.btn{
    width:208px;
    height:40px;
    border-radius:10px;
    border:none;
    display:flex;
    align-items:center;
    justify-content:center;
}

.paypal{
    padding:0px;
    margin: 5px 0;
    background:#FFC439;
    z-index: 2;
}

.apple{
    padding:0px;
    margin: 5px 0;
    background:#000;
    z-index: 2;
}

.continue {
    text-align: center;
    font-size: 14px;
    color: #292929;
    margin-bottom: 35px;
}

.completeText {
    text-align: center;
    font-size: 15px;
    color: #FFF;
    padding-top: 5px;
}

.section {
    margin-bottom: 0px;
}

.section-title {
    font-size: 20px;
    font-weight: 600;
    color: #292929;
    margin-block: 15px;
}

input,
select,
button {
    font-family: 'Avenir LT Pro';
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    height: 48px;
}

input[type="checkbox"] input[type="radio"] {
    width: auto;
}

input[type="radio"] {
    accent-color: black;
}

.field{
    display:flex;
    flex-direction:column;
}

.error-text{
    color:#d93025;
    font-size:12px;
    margin-top:4px;
    display:none;
}
    
input.error{
    border:1px solid #d93025;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox label {
    padding-left: 5px;
}

.offers {
    font-family: 'Abel';
    font-size: 14px;
    color: #737373;
}

.row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.row div {
    flex: 1;
    min-width: 120px;
}

.shipping {
    border: 1px solid #BBBBBB;
    border-radius: 8px;
    overflow: hidden;
    background: white;
}

.billing {
    border: 1px solid #BBBBBB;
    border-radius: 8px;
    overflow: hidden;
    background: white;
}

.radio-option{
    display:flex;
    align-items:center;
    gap:12px;
    padding:12px 12px;
    cursor:pointer;
    border-bottom:1px solid #e5e5e5;
}

.radio-option:last-child{
    border-bottom:none;
}
    
.radio-option input{
    display:none;
}

.custom-radio{
    width:20px;
    height:20px;
    border:1px solid #808080;
    border-radius:50%;
    position:relative;
    background: #fff;
    flex-shrink:0;
}

.radio-option input:checked + .custom-radio{
    border-color:#000;
    background: #000;
}
    
.radio-option input:checked + .custom-radio::after{
    content:"";
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
    
 .radio-text{
    font-size:14px;
    color:#292929;
}

.billing-fields {
    display: none;
    padding: 16px;
    background-color: #FAFAFA;
}

.payment {
    border: 1px solid #BBBBBB;
    border-radius: 8px;
    overflow: hidden;
    background: white;
}

.credit-fields {
    display: none;
    padding: 16px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #D9D9D9;
}

.complete {
    background-color: #1B1B1B;
    color: white;
    width: 300px;
    height: 48px;
}

.side-summary {
    grid-area: sidesummary;
}

.side-discount {
    grid-area: sidediscount;
}

.side-reviews {
    grid-area: sidereviews;
}

.order-summary{
    background: #FAFAFA;
    padding: 100px 53px;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
}

.item-info {
    position: relative;
}

.item-img {
    width: 68px;
    height: 68px;
}

.item-qty {
    position: absolute;
    font-size: 14px;
    top: -8px;
    right: -10px;
    color: #fff;
    background-color: #808080;
    padding: 3px 8px;
    border-radius: 50%;
}

.item-name {
    flex: 1;
    padding-left: 10px;
    font-size: 16px;
}

.tax-info {
    display: flex;
    justify-content: space-between;
    color: #757575;
    font-size: 16px;
    height: 14px;
    padding-top: 8px;
    padding-bottom: 0px;
}

.shipping-info {
    display: flex;
    justify-content: space-between;
    color: #757575;
    font-size: 16px;
}

.total-info {
    display: flex;
    justify-content: space-between;
    color: #757575;
    font-size: 16px;
    height: 14px;
    padding-bottom: 25px;
}

.discount-info {
    display: flex;
    gap: 8px;
}

.btn-disc {
    width: 50px;
}

#disc {
    flex: 1;
}

.reviews {
    background: #F7F7F7;
    padding: 16px;
    margin: 16px;
}

.discount {
    padding: 16px;
}

.trust-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.trust-star {
    color: #00B67A;
    font-size: 22px;
}

.trust-text {
    font-weight: 600;
    font-size: 18px;
}

.star-boxes {
    display: flex;
    gap: 3px;
    margin-left: 6px;
}

.box {
    width: 20px;
    height: 20px;
    background: #00b67a;
    color: #fff;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.box.half {
    background: linear-gradient(to right,
            #00b67a 50%,
            #dcdcdc 50%);
}

.score {
    font-weight: 600;
    margin-left: 5px;
}

.store-reviews {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.review-card {
    background: #fff;
    padding: 18px;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

.review-head {
    font-size: 14px;
    margin-bottom: 6px;
}

.location {
    color: #777;
    margin-left: 5px;
}

.verified {
    color: #1bb55c;
    margin-left: 10px;
    font-size: 13px;
}

.stars {
    color: #f6c343;
    font-size: 16px;
    margin-bottom: 6px;
}

.review-card p {
    font-size: 14px;
    color: #444;
    line-height: 1.5;
}

.order-toggle{
    display:none;
    justify-content:space-between;
    align-items:center;
    padding:14px 20px;
    border-bottom:1px solid #ddd;
    font-weight:600;
    cursor:pointer;
    background:#fafafa;
}

.order-title{
    display:flex;
}

.toggle-icon{
    transition:0.3s;
}

.order-content{
    display:block;
}

@media screen and (max-width: 600px) {
    .container {
        display:grid;
        grid-template-areas: 
            "sidesummary"
            "main"
            "sidediscount"
            "payment"
            "sidereviews";
    }

    .main-container {
        grid-area: main;
        background: #fff;
        padding: 26px 16px 16px 16px;
    }

    #checkoutForm {
        min-width: 100%;
        margin: 0;
        box-sizing: border-box;
    }

    .side-summary {
        width: 100%;
    }
    
    .side-reviews {
        width: 100%;
    }

    .side-discount {
        width: 100%;
    }

    .order-toggle{
        display:flex;
    }

    .order-title{
        display:none;
    }
    
    .order-content{
        display:none;
    }
    
    .side-summary.active .order-content{
        display:block;
    }
    
    .side-summary.active .toggle-icon{
        transform:rotate(180deg);
    }

    .order-summary{
        background: #FAFAFA;
        padding: 25px 17px;
    }

    .exp {
        width: 100%;
        padding: 0;
        justify-items: center;
    }

    .exp-title {
        width: 160px;
        height: 22px;
        padding: 10px 0px;
    }

    .exp-checkout {
        flex-direction: column;
        gap: 0px;
        align-items: center;
    }

    .complete {
        background-color: #1B1B1B;
        color: white;
        width: 300px;
    }

    .row {
        flex-direction: column;
    }

    .btn {
        width: 160px;
        height: 40px;
    }

    .section-title {
        font-size: 17px;
        font-weight: 600;
        color: #292929;
        margin-block: 15px;
    }
}